@import url("https://fonts.googleapis.com/css?family=Poppins|Roboto"); 
@import url("https://fonts.googleapis.com/css?family=Roboto"); 
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700"); 
* { 
    box-sizing:  border-box;
    -webkit-box-sizing:  border-box; 
    webkit-box-sizing:  border-box; 
    -moz-box-sizing:  border-box; 
} 

div { 
    border: 0 none; 
    margin: 0; 
    outline: 0 none; 
    padding: 0;
} 

.tr-m { 
    width: 100%; 
    float: left;
} 

form { 
    margin:  0; 
    padding:  0;
    border:  0 none; 
    outline:  0 none; 
    font-family:  'Open Sans', sans-serif;
} 

body { 
    padding:   0;
    margin:   0; 
    font-family:  open sans;
    background:     #eee;
    border:        0 none; 
    outline:        0 none; 
    background-color:        #fff; 
    color:        #333; 
    line-height:        1.42857;
    overflow-x:     hidden;
} 

html { 
    margin:  0; 
    padding:  0;
    border:  0 none; 
    outline:  0 none; 
    font-family:    sans-serif;
: 
} 

.emtSecure { 
    border-bottom: 1px solid #e3e6ea; 
    border-top: 1px solid #e3e6ea; 
    padding: 0; 
    margin-top: 15px; 
    background: #f0f3f5; 
    float: left; 
    width: 100%;
} 

:after,:before { 
    box-sizing: border-box;
} 

*,:before,:after { 
    box-sizing: border-box;
} 

.secureinr { 
    width: 90%; 
    margin: 0 auto;
} 

ul { 
    margin:  0; 
    padding:  0;
    border:  0 none; 
    outline:  0 none; 
    font-family:   'Open Sans', sans-serif;
    margin-bottom:  10px; 
    margin-top:  0;
} 

ul.leftFooter { 
    float: left;
} 

ul.rightFooter { 
    float: right;
} 

li { 
    margin:  0; 
    padding:  0;
    border:  0 none; 
    outline:  0 none; 
    font-family:  'Open Sans', sans-serif;
} 

.emtSecure ul li  { 
    float: left; 
    padding: 3px 0; 
    list-style: none;
} 

i { 
    margin:  0; 
    padding:  0;
    border:  0 none; 
    outline:  0 none; 
    font-family:  'Open Sans', sans-serif;
} 

.sprite-footer { 
    display: inline-block; 
    position: relative; 
    background: transparent url(../images/footer-secure-v1.png) 0 0 no-repeat; 
    content: " "; 
    margin: 0 5px; 
    vertical-align: middle; 
    background-image: url("../images/footer-secure-v1.png"); 
    background-position-x: 0px; 
    background-position-y: 0px; 
    background-size: initial; 
    background-repeat-x: no-repeat; 
    background-repeat-y: no-repeat; 
    background-attachment: initial; 
    background-origin: initial; 
    background-clip: initial; 
    background-color: transparent;
} 

ul.leftFooter li i  { 
    margin-top:  4px; 
    margin-left:  20px;
    margin: 0 3px; 
    background-position: -302px 0px; 
    height: 40px; 
    width: 303px; 
    float: left;
} 

.ico-secured { 
    display: inline-block; 
    vertical-align: middle; 
    background-position: 0 0; 
    height: 40px; 
    width: 61px;
} 

ul.rightFooter li i  { 
    margin: 0 10px 0 0;
} 

.ico-netBanking { 
    background-position: -144px 0; 
    height: 40px; 
    width: 65px;
} 

.ico-easyEmi { 
    background-position: -223px 0; 
    height: 40px; 
    width: 65px;
} 


