@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700"); 
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700"); 
* { 
    box-sizing:  border-box; 
    -webkit-box-sizing:  border-box; 
    -moz-box-sizing: border-box;
} 

div { 
    border: 0 none; 
    margin: 0; 
    outline: 0 none; 
    padding: 0;
} 

.w30 { 
    width: 20%; 
    border-radius: 4px; 
    background-color: #FFF; 
    float: left; 
    margin: auto;
} 

.row { 
    margin-left: -15px; 
    margin-right: -15px;
} 

.no-margn { 
    margin-left: 0; 
    margin-right: 0;
} 

.container { 
    margin-left: auto; 
    margin-right: auto; 
    padding-left: 15px; 
    padding-right: 15px;
} 

@media (min-width: 768px){ 
  .container { 
    width: 750px;
  } 
}     

@media (min-width: 992px){ 
  .container { 
    width: 970px;
  } 
}     

@media (min-width: 1200px){ 
  .container { 
    width: 1232px;
  } 
}     

form { 
    margin:  0; 
    padding:  0;
    border:  0 none; 
    outline:  0 none; 
    font-family:  'Open Sans', sans-serif;
} 

body { 
    padding:  0; 
    margin:  0; 
    font-family:  'Open Sans';
    background:    #f4f4f4; 
    border:         0 none; 
    outline:       none!important; 
    background-color:       #eeeeee!important;
    color:         #333; 
    line-height:         1.42857;
    overflow-x:     hidden;
    height:     auto;
} 

html { 
    margin:    0; 
    padding:    0;
    border:    0 none; 
    outline:    0 none; 
    font-family:      sans-serif;
:   
    overflow-x:  hidden;
    height:  auto;
} 

:after,:before { 
    box-sizing: border-box;
} 

.clr { 
    clear: both;
} 

.border-b3 { 
    border-bottom:  1px solid #e9e8e8;
    margin-top:  10px; 
    margin-bottom:  10px;
} 

.prc_flt_n { 
    width: 100%; 
    margin: 10px auto; 
    float: left; 
    margin-top: 0;
} 

.prc_flt { 
    width: 100%; 
    margin: 10px auto; 
    float: left; 
    margin-top: 0;
} 

h2 { 
    margin:  0; 
    padding:  0;
    border:  0 none; 
    outline:  0 none; 
    font-family:     inherit; 
    color:    inherit; 
    font-weight:    500; 
    line-height:    1.1;
    margin-bottom:   10px; 
    margin-top:   20px;
    font-size:  30px;
} 

.tp_fltr h2  { 
    color: #000; 
    text-transform: uppercase; 
    font-size: 14px; 
    margin-top: 0; 
    padding: 8px 0 8px 6%; 
    padding-bottom: 0;
} 

.prc_ttls { 
    padding-left: 15px; 
    padding-right: 15px; 
    width: 100%; 
    margin-bottom: 10px; 
    float: left;
} 

.prc_val { 
    width:  100%; 
    float:  left;
    padding-left: 15px; 
    padding-right: 15px;
} 

.pag1 { 
    display: flex; 
    padding-left:  15px; 
    padding-right:  15px;
    width: 100%; 
    float: left; 
    text-align: center; 
    justify-content: center;
} 

a { 
    margin:  0; 
    padding:  0;
    border:  0 none; 
    outline:  0 none; 
    font-family:    'Open Sans', sans-serif;
    background-color:   transparent;
    color:  #337ab7; 
    text-decoration:  none;
} 

.tp_fltr a  { 
    text-align: right; 
    padding-right: 5%; 
    margin-top: 2px; 
    color: #4263c1; 
    float: right; 
    text-decoration: none; 
    width: 40%; 
    font-size: 10px;
} 

a:active,a:hover { 
    outline: 0 none;
} 

.prc_ttl2 { 
    float: left; 
    font-size: 13px; 
    width: auto; 
    font-weight: 600; 
    color: #353535;
} 

.arrow-down-flt { 
    padding-left:  15px; 
    padding-right:  15px;
    height: 15px; 
    width: auto; 
    text-align: right; 
    margin-left: 3%; 
    background-repeat: no-repeat; 
    cursor: pointer; 
    float: right; 
    background-size: 34%; 
    background-position: 19px 8px; 
    background-repeat-x: no-repeat; 
    background-repeat-y: no-repeat;
} 

.row_flt { 
    width: 100%;
} 

.ShowMore { 
    float: left; 
    width: 100%; 
    text-align: right; 
    font-size: 12px; 
    color: #2196F3;
} 

.pr1 { 
    cursor: pointer;
} 

.wid33 { 
    flex: 1; 
    max-width: 31.3%; 
    margin: auto;
} 

.tm-dt1 { 
    width: 100%; 
    height: auto; 
    border: 1px solid #e0e0e0; 
    float: left; 
    margin: 5px 0; 
    background: #fff; 
    border-radius: 5px;
} 

.tm-dt11 { 
    width: 100%; 
    height: auto; 
    border: 1px solid #e0e0e0; 
    float: left; 
    margin: 5px 0; 
    background: #fff; 
    border-radius: 5px;
} 

#ShowMore { 
    float:  left; 
    padding-left:  10%; 
    font-size:  11px; 
    padding-bottom:  10px;
    padding: 0; 
    text-align: right; 
    width: 100%; 
} 

#ShowLess { 
    float:  left; 
    padding-left:  10%; 
    font-size:  11px; 
    padding-bottom:  10px;
    padding: 0; 
    text-align: right; 
    width: 100%; 
} 

.wid70 { 
    width: 70%; 
    float: left;
} 

.wid30 { 
    width: 30%; 
    float: left; 
    text-align: right;
} 

.ShowMore a  { 
    text-decoration: none; 
    color: #2196F3;
} 

.pa11 { 
    width: 100%; 
    margin: auto; 
    background: #fff; 
    border: 1px solid #e0e0e0; 
    text-align: center; 
    border-radius: 4px; 
    cursor: pointer; 
    float: left;
} 

.pa22 { 
    width: 100%; 
    margin: auto; 
    background: #fff; 
    border: 1px solid #e0e0e0; 
    text-align: center; 
    border-radius: 4px; 
    cursor: pointer; 
    float: left;
} 

.pa33 { 
    width: 100%; 
    margin: auto; 
    background: #fff; 
    border: 1px solid #e0e0e0; 
    text-align: center; 
    border-radius: 4px; 
    cursor: pointer; 
    float: left;
} 

span { 
    border: 0 none; 
    margin: 0; 
    outline: 0 none; 
    padding: 0;
} 

.tm11 { 
    width: 25%; 
    float: left; 
    border-right: 1px solid #e0e0e0; 
    cursor: pointer;
} 

.tm22 { 
    width: 25%; 
    float: left; 
    border-right: 1px solid #e0e0e0; 
    cursor: pointer;
} 

.tm33 { 
    width: 25%; 
    float: left; 
    border-right: 1px solid #e0e0e0; 
    cursor: pointer;
} 

.tm11-n { 
    width: 25%; 
    float: left;
} 

.tm111 { 
    width: 25%; 
    float: left; 
    border-right: 1px solid #e0e0e0; 
    cursor: pointer;
} 

.tm222 { 
    width: 25%; 
    float: left; 
    border-right: 1px solid #e0e0e0; 
    cursor: pointer;
} 

.tm333 { 
    width: 25%; 
    float: left; 
    border-right: 1px solid #e0e0e0; 
    cursor: pointer;
} 

label { 
    display:  inline-block; 
    margin:  0; 
    padding:  0;
    border:  0 none; 
    outline:  0 none; 
    font-family:   'Open Sans', sans-serif;
    font-weight:  700; 
    margin-bottom:  5px; 
    max-width:  100%;
} 

.check-box { 
    color: #333; 
    position: relative; 
    padding-left: 23px; 
    margin-bottom: 12px; 
    cursor: pointer; 
    font-weight: 500; 
    font-size: 11px; 
    display: flex; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    align-items: center;
} 

.ft-10 { 
    display: flex; 
    font-size:  11px; 
    color: #333; 
    text-align: right; 
    align-items: center; 
    justify-content: flex-end;
} 

.ft_price { 
    margin-top: 12px;
} 

p { 
    margin:  0; 
    padding:  0; 
    border:   0 none; 
    outline:   0 none; 
    font-family:  'Lato', sans-serif;
} 

.sb_flt { 
    text-align: center; 
    font-size: 11px; 
    display: block; 
    padding: 0 !important; 
    margin: 5px 0 !important;
} 

input { 
    color:   inherit; 
    font:   inherit; 
    margin:   0;
    line-height:  inherit;
    font-family: inherit; 
    font-size: inherit; 
} 

input[type="checkbox"] { 
    box-sizing:  border-box; 
    padding:  0;
    line-height: normal; 
    margin: 4px 0 0;
} 

.tm-m11 { 
    width: 100%; 
    float: left; 
    padding: 4px 0; 
    cursor: pointer; 
    border-radius: 5px 0 0 5px;
} 

.tm-m12 { 
    width: 100%; 
    float: left; 
    padding: 4px 0; 
    cursor: pointer;
} 

.tm-m22,.tm-m22 { 
    width: 100%; 
    float: left; 
    padding: 4px 0; 
    cursor: pointer;
} 

.tm-m33 { 
    width: 100%; 
    float: left; 
    padding: 4px 0; 
    cursor: pointer; 
    border-radius: 0 5px 5px 0;
} 

.tm-m111 { 
    width: 100%; 
    float: left; 
    padding: 4px 0; 
    cursor: pointer; 
    border-radius: 5px 0 0 5px;
} 

.tm-m122 { 
    width: 100%; 
    float: left; 
    padding: 4px 0; 
    cursor: pointer;
} 

.tm-m222 { 
    width: 100%; 
    float: left; 
    padding: 4px 0; 
    cursor: pointer;
} 

.tm-m333 { 
    width: 100%; 
    float: left; 
    padding: 4px 0; 
    cursor: pointer; 
    border-radius: 0 5px 5px 0;
} 

.check-box input  { 
    position: absolute; 
    opacity: 0;
} 

.checkmark { 
    position: absolute; 
    top: 0; 
    left: 0; 
    height: 17px; 
    width: 17px; 
    border: 1px solid #bfbfbf; 
    border-radius: 2px;
} 

.wrapper_sidebar{
    width: 90%;
    background: #fff;
    display: flex;
    flex-direction: column;
}

.checkmark:after { 
    content: ""; 
    position: absolute; 
    display: none; 
    box-sizing: content-box;
} 

.check-box .checkmark:after  { 
    left: 5px; 
    top: 0px; 
    width: 3px; 
    height: 9px; 
    border: solid white; 
    border-width: 0 3px 3px 0px; 
    -webkit-transform: rotate( 45deg); 
    -ms-transform: rotate(45deg); 
    transform: rotate( 45deg);
} 

img { 
    margin:  0; 
    padding:  0;
    border:  0 none; 
    outline:  0 none; 
    font-family:     'Open Sans', sans-serif;
    max-width:    100%;
    vertical-align:  middle;
} 

.flt_rs { 
    vertical-align: top; 
    margin: 3px 2px; 
    background-size: 100%; 
    width: 11%;
} 

.ui-slider { 
    position: relative; 
    text-align: left;
} 

.ui-slider-horizontal { 
    height: 7px;
} 

.ui-widget { 
    font-family: Verdana,Arial,sans-serif; 
    font-size: 1.1em;
} 

.ui-widget-content { 

    border: 1px solid #aaa; 
    background: #fff url(.../images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x; 
    color: #222; 
    background-image: url(".../images/ui-bg_flat_75_ffffff_40x100.png"); 
    background-position-x: 50%; 
    background-position-y: 50%; 
    background-size: initial; 
    background-repeat-x: repeat; 
    background-repeat-y: no-repeat; 
    background-attachment: initial; 
    background-origin: initial; 
    background-clip: initial; 
    background-color: rgb(255, 255, 255);
} 

.ui-slider { 
    position: relative; 
    text-align: left; 
    border-color: #2196F2!important;
} 

.ui-slider-horizontal { 
    height: 3px;
} 

.ui-widget { 
    font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif; 
    font-size: 1.1em;
} 

.ui-widget-content { 
    border: 1px solid #ddd; 
    color: #333;
} 

.ui-corner-all { 
    border-top-left-radius:    4px;
    border-top-right-radius:   4px;
    border-bottom-left-radius:  4px;
    border-bottom-right-radius: 4px;
} 

.ui-slider { 
    width:  96%;
    margin:  0 auto; 
    -webkit-border-radius:  5px 5px 5px 5px; 
    -moz-border-radius:  5px 5px 5px 5px; 
    -ms-border-radius:  5px 5px 5px 5px; 
    border-radius:  5px 5px 5px 5px; 
    background:  #ddd; 
    z-index:  99; 
    border:  0;
    float: right; 
} 

.prc_val p  { 
    margin: auto; 
    padding: 0; 
    font-size: 12px; 
    float: left; 
    margin-top: 10px; 
    font-weight: 600; 
    width: 100%;
} 

.mor-n1 { 
    margin: 0 auto; 
    width: 28px; 
    height: 25px; 
    background: url(.../images/filter-sprite.png); 
    background-position: -5px -42px;
} 

.tm-nf1 { 
    width: 100%; 
    float: left; 
    color: #737373; 
    font-size: 10px; 
    text-align: center;
} 

.mor1-n2 { 
    margin: 0 auto; 
    width: 24px; 
    height: 25px; 
    background: url(.../images/filter-sprite.png); 
    background-position: -38px -43px;
} 

.tm-nf2 { 
    width: 100%; 
    float: left; 
    color: #737373; 
    font-size: 10px; 
    text-align: center;
} 

.mor2-n3 { 
    margin: 0 auto; 
    width: 20px; 
    height: 25px; 
    background: url(.../images/filter-sprite.png); 
    background-position: -66px -42px;
} 

.tm-nf3 { 
    width: 100%; 
    float: left; 
    color: #737373; 
    font-size: 10px; 
    text-align: center;
} 

.mor3-n4 { 
    margin: 0 auto; 
    width: 16px; 
    height: 25px; 
    background: url(.../images/filter-sprite.png); 
    background-position: -95px -43px;
} 

.tm-nf4 { 
    width: 100%; 
    float: left; 
    color: #737373; 
    font-size: 10px; 
    text-align: center;
} 

.mor-n11 { 
    margin: 0 auto; 
    width: 28px; 
    height: 25px; 
    background: url(.../images/filter-sprite.png); 
    background-position: -5px -42px;
} 

.tm-nf11 { 
    width: 100%; 
    float: left; 
    color: #737373; 
    font-size: 10px; 
    text-align: center;
} 

.mor1-n22 { 
    margin: 0 auto; 
    width: 24px; 
    height: 25px; 
    background: url(.../images/filter-sprite.png); 
    background-position: -38px -43px;
} 

.tm-nf22 { 
    width: 100%; 
    float: left; 
    color: #737373; 
    font-size: 10px; 
    text-align: center;
} 

.mor2-n33 { 
    margin: 0 auto; 
    width: 20px; 
    height: 25px; 
    background: url(.../images/filter-sprite.png); 
    background-position: -66px -42px;
} 

.tm-nf33 { 
    width: 100%; 
    float: left; 
    color: #737373; 
    font-size: 10px; 
    text-align: center;
} 

.mor3-n44 { 
    margin: 0 auto; 
    width: 16px; 
    height: 25px; 
    background: url(.../images/filter-sprite.png); 
    background-position: -95px -43px;
} 

.tm-nf44 { 
    width: 100%; 
    float: left; 
    color: #737373; 
    font-size: 10px; 
    text-align: center;
} 

.mgl5 { 
    margin-right: 5px;
} 

.ui-widget-header { 
    background-color: #e0e0e0; 
    color: #222; 
    font-weight: 700;
} 

.ui-slider .ui-slider-range  { 
    position: absolute; 
    z-index: 1; 
    font-size: .7em; 
    display: block; 
    border: 0; 
    background-position: 0 0;
} 

.ui-slider-horizontal .ui-slider-range  { 
    top: 0; 
    height: 100%;
} 

.ui-slider .ui-slider-range  { 
    position: absolute; 
    z-index: 1; 
    font-size: .7em; 
    display: block; 
    border: 0; 
    background-position: 0 0; 
    background: #2196f3;
} 

.ui-slider-handle { 
    cursor: grab!important;
} 

.ui-slider .ui-slider-handle  { 
    position: absolute; 
    z-index: 2; 
    width: 1.45em; 
    height: 1.5em; 
    cursor: default; 
    background: url(.../images/round_icon.png)!important; 
    top: -.5em!important;
} 

.ui-slider-horizontal .ui-slider-handle  { 
    top: -.3em; 
    margin-left: -.6em;
} 

.ui-state-default,.ui-widget-content .ui-state-default  { 
    background: #e6e6e6 url(.../images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x; 
    font-weight: 400; 
    color: #555; 
    outline: none; 
    background-image: url(".../images/ui-bg_glass_75_e6e6e6_1x400.png"); 
    background-position-x: 50%; 
    background-position-y: 50%; 
    background-size: initial; 
    background-repeat-x: repeat; 
    background-repeat-y: no-repeat; 
    background-attachment: initial; 
    background-origin: initial; 
    background-clip: initial; 
    background-color: rgb(230, 230, 230);
} 

.ui-slider .ui-slider-handle  { 
    background:   #fff!important; 
    cursor:   default; 
    height:   17px; 
    position:   absolute; 
    width:   17px; 
    z-index:   2;
    border-radius:   50%; 
    -webkit-border-radius:   50%;
    border:  1px solid #2196f3!important; 
    top: -0.4em!important;
} 

.ui-slider .ui-slider-handle:hover  { 
    border-radius: 50%!important; 
    -webkit-border-radius: 50%!important;
} 

.ui-state-default:hover,.ui-widget-content:hover .ui-state-default:hover  { 
    border-radius:  0px;
    background: #fff; 
    color: #676767;
} 


