@import url("https://fonts.googleapis.com/css?family=Poppins|Roboto"); 
@import url("https://fonts.googleapis.com/css?family=Poppins|Roboto"); 
@import url("https://fonts.googleapis.com/css?family=Roboto"); 
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700"); 
* { 
    box-sizing:  border-box;
    -webkit-box-sizing:  border-box; 
    webkit-box-sizing:  border-box; 
    -moz-box-sizing:  border-box; 
} 

div { 
    border: 0 none; 
    margin: 0; 
    outline: 0 none; 
    padding: 0;
} 

.fd-l { 
    width: 100%;
} 

.fd-ll { 
    width: 70.5%; 
    float: left;
} 

.fd-pr { 
    width: 100%; 
    float: left;
} 

.tr-cen { 
    width: 90%; 
    margin: 0 auto;
} 

.tr-m { 
    width: 100%; 
    float: left;
} 

form { 
    margin:  0; 
    padding:  0;
    border:  0 none; 
    outline:  0 none; 
    font-family:  'Open Sans', sans-serif;
} 

body { 
    padding:   0;
    margin:   0; 
    font-family:  open sans;
    background:     #eee;
    border:        0 none; 
    outline:        0 none; 
    background-color:        #fff; 
    color:        #333; 
    line-height:        1.42857;
    overflow-x:     hidden;
} 

html { 
    margin:  0; 
    padding:  0;
    border:  0 none; 
    outline:  0 none; 
    font-family:    sans-serif;
: 
} 

.pdb10 { 
    padding-bottom: 14px;
} 

.bor { 
    float: left; 
    width: 100%; 
    border: 1px solid #d2d2d2; 
    background: #ffffff; 
    border-radius: 4px; 
    -webkit-box-shadow: 0 0 6px rgb(0 0 0 / 25%); 
    -moz-box-shadow: 0 0 6px rgb(0 0 0 / 25%); 
    box-shadow: 0 0 6px rgb(0 0 0 / 25%);
} 

:after,:before { 
    box-sizing: border-box;
} 

*,:before,:after { 
    box-sizing: border-box;
} 

.fd-h { 
    width: 100%; 
    float: left; 
    padding-left: 2%; 
    font-size: 18px; 
    color: #1a1a1a; 
    height: 50px; 
    line-height: 50px; 
    background: #f8f6f6; 
    border-top-left-radius: 4px; 
    border-top-right-radius: 4px;
} 

.fd-h:before { 
    float: left; 
    content: " "; 
    background: url(../images/img-sprite.png); 
    width: 35px; 
    height: 35px; 
    background-position: -60px -4px; 
    margin-top: 8px;
} 

.sidebar { 
    position: relative !important; 
    top: 0px; 
    width: 100%; 
    float: right;
} 

.stickTop { 
    position: sticky; 
    -webkit-position: sticky; 
    top: 0; 
    z-index: 1;
} 

.clr { 
    clear: both;
} 

.con { 
    width: 100%; 
    float: left; 
    text-align: center; 
    padding-bottom: 30px; 
    margin-top: 7px;
} 

span { 
    border: 0 none; 
    margin: 0; 
    outline: 0 none; 
    padding: 0;
} 

span  { 
    margin-left: 1%;
} 

.fd-r { 
    width: 100%; 
    float: right; 
    position: relative;
} 

.con span  { 
    background: #ef6614 none repeat scroll 0 0; 
    border-radius: 4px; 
    color: #ffffff; 
    cursor: pointer; 
    display: block; 
    font-size: 19px; 
    height: 45px; 
    line-height: 45px; 
    margin: 10px auto auto auto; 
    width: 41%; 
    background-image: none; 
    background-position-x: 0px; 
    background-position-y: 0px; 
    background-size: initial; 
    background-repeat-x: repeat; 
    background-repeat-y: repeat; 
    background-attachment: scroll; 
    background-origin: initial; 
    background-clip: initial; 
    background-color: rgb(239, 102, 20);
} 

.con span:hover  { 
    background: #da5200;
} 

.mar20 { 
    margin-top: 20px;
} 

.pr { 
    width: 100%; 
    float: left; 
    border-bottom: 1px solid #e5e3e3; 
    display: flex;
} 

input { 
    color:   inherit; 
    font:   inherit; 
    margin:   0;
    line-height:  inherit;
    font-family: inherit; 
    font-size: inherit; 
} 

.prc-mm { 
    width: 100%; 
    float: left; 
    background: #f8f6f6; 
    border-top-left-radius: 4px; 
    border-top-right-radius: 4px;
} 

.prm { 
    width: 100%; 
    float: left;
} 

p { 
    margin:  0; 
    padding:  0;
    border:    0 none; 
    outline:    0 none; 
    font-family:  'Open Sans', sans-serif; 
} 

.bor p  { 
    float: left; 
    font-size: 11px; 
    color: #1A942B !important; 
    width: 94%; 
    margin: 0px 3% 0; 
    padding-bottom: 5px; 
    padding-top: 4px;
} 

.prc-h1 { 
    width: 100%; 
    padding-left: 3%; 
    float: left; 
    font-size: 14px; 
    color: #1a1a1a; 
    height: 50px; 
    line-height: 50px; 
    background: #f8f6f6; 
    border-top-left-radius: 4px; 
    border-top-right-radius: 4px;
} 

.prc-cup { 
    background: #2196f3 none repeat scroll 0 0; 
    color: #fff; 
    height: 42px; 
    line-height: 40px; 
    background-image: none; 
    background-position-x: 0px; 
    background-position-y: 0px; 
    background-size: initial; 
    background-repeat-x: repeat; 
    background-repeat-y: repeat; 
    background-attachment: scroll; 
    background-origin: initial; 
    background-clip: initial; 
    background-color: rgb(33, 150, 243);
} 

.cpn { 
    width: 94%; 
    float: left; 
    font-size: 16px; 
    font-weight: 600; 
    margin: 12px 3% 0;
} 

.cdshl { 
    background-color: #fff3cd; 
    line-height: 13px; 
    letter-spacing: -0.4px; 
    text-align: center;
} 

.cpn_dvd { 
    width: 100%; 
    height: 1px; 
    background: #eee; 
    margin: 3px 0; 
    float: left;
} 

.coupn_inr { 
    width: 95%; 
    margin: 0 auto;
} 

.prc-h { 
    width: 63%; 
    padding-left: 3%; 
    float: left; 
    font-size: 18px; 
    color: #1a1a1a; 
    height: 50px; 
    line-height: 50px;
} 

.prc-h2 { 
    width: 13%; 
    padding-left: 3%; 
    float: left; 
    font-size: 13px; 
    color: #1a1a1a; 
    height: 50px; 
    line-height: 50px;
} 

.prc-h2:before { 
    float: left; 
    content: " "; 
    background: url(../images/img-sprite.png); 
    width: 18px; 
    height: 20px; 
    background-position: 0px -48px; 
    margin-top: 16px; 
    padding-right: 10%;
} 

.prc-h3 { 
    width: 11%; 
    float: left; 
    font-size: 13px; 
    color: #1a1a1a; 
    height: 50px; 
    line-height: 50px;
} 

.prc-h3:before { 
    float: left; 
    content: " "; 
    background: url(../images/img-sprite.png); 
    width: 29px; 
    height: 20px; 
    background-position: -13px -48px; 
    margin-top: 16px; 
    padding-right: 10%;
} 

.prc-h4 { 
    width: 11%; 
    float: left; 
    font-size: 13px; 
    color: #1a1a1a; 
    height: 50px; 
    line-height: 50px;
} 

.prc-h4:before { 
    float: left; 
    content: " "; 
    background: url(../images/img-sprite.png); 
    width: 20px; 
    height: 20px; 
    background-position: -38px -48px; 
    margin-top: 16px; 
    padding-right: 10%;
} 

.pr-dd { 
    width: 100%; 
    float: left; 
    display: none; 
    max-height: 150px; 
    overflow: auto !important;
} 

.pr-dd-am { 
    width: 94%; 
    margin: 0 auto 10px auto; 
    display: none; 
    max-height: 150px; 
    overflow: auto !important; 
    background: #f7f7f7;
} 

.ng-hide:not(.ng-hide-animate) { 
    display: none !important;
} 

.cpn-l { 
    width: 70%; 
    float: left; 
    position: relative;
} 

.cpn-r { 
    width: 30%; 
    float: left;
} 

b { 
    margin:  0; 
    padding:  0;
    border:  0 none; 
    outline:  0 none; 
    font-family:   'Open Sans', sans-serif;
    font-weight:  700;
} 

.coupn_scrl { 
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    min-height: 66px; 
    max-height: 190px;
} 

.prc-h span  { 
    padding-left: 3%; 
    font-size: 18px; 
    color: #1a1a1a;
} 

.pr-l { 
    width: 66%; 
    padding-left: 4%; 
    float: left; 
    color: #1a1a1a; 
    font-size: 13px; 
    height: 35px; 
    line-height: 35px;
} 

.pr-Rs { 
    width: 30%; 
    float: left;
} 

.pr-l-n { 
    width: 66%; 
    padding-left: 4%; 
    float: left; 
    color: #1a1a1a; 
    font-size: 13px; 
    height: 35px; 
    line-height: 35px; 
    cursor: pointer;
} 

.pr-l-nn { 
    width: 66%; 
    padding-left: 4%; 
    float: left; 
    color: #1a1a1a; 
    font-size: 13px; 
    height: 35px; 
    line-height: 35px; 
    display: none; 
    cursor: pointer;
} 

.pr-d { 
    width: 100%; 
    float: left; 
    border-bottom: 1px solid #e5e3e3;
} 

.pr-l1 { 
    width: 48%; 
    padding-left: 4%; 
    float: left; 
    color: #d63b05; 
    font-size: 18px; 
    height: 35px; 
    line-height: 35px; 
    font-weight: bold;
} 

.pr-r1_Rs { 
    width: 48%; 
    float: left; 
    color: #d63b05; 
    font-size: 18px; 
    text-align: right; 
    height: 35px; 
    line-height: 35px; 
    font-weight: bold;
} 

.pr:last-child { 
    border-bottom: 0px;
} 

.cpn input  { 
    width: 93%; 
    float: left; 
    padding-left: 4%; 
    border: 0px; 
    border-bottom: 1px solid #cccccc; 
    height: 30px; 
    line-height: 30px; 
    outline: 0; 
    font-size: 15px; 
    font-weight: bold; 
    text-transform: uppercase;
} 

.apl { 
    width: 100%; 
    height: 30px; 
    line-height: 30px; 
    background: #2196f3; 
    color: #ffffff; 
    font-size: 13px; 
    border-radius: 4px; 
    text-align: center; 
    cursor: pointer;
} 

.apl:hover { 
    background: #4883c4;
} 

.inpt_stl { 
    width: 93%; 
    float: left; 
    padding-left: 4%; 
    border: 0px; 
    border-bottom: 1px solid #cccccc; 
    height: 30px; 
    line-height: 30px; 
    color: #333; 
    outline: 0; 
    font-size: 15px!important; 
    font-weight: bold; 
    text-transform: uppercase;
} 

.coup span  { 
    color: #d63b05; 
    font-size: 12px; 
    font-weight: bold;
} 

.cancl { 
    width: 100%; 
    height: 30px; 
    line-height: 30px; 
    background: #fff; 
    color: #737373; 
    font-size: 13px; 
    border-radius: 4px; 
    text-align: center; 
    cursor: pointer; 
    border: 1px solid #afafaf; 
    text-transform: uppercase; 
    font-weight: normal;
} 

.coupn_col { 
    padding-bottom: 7px; 
    padding-top: 7px; 
    border-bottom: 1px solid #ebebeb; 
    width: 100%; 
    float: left;
} 

.pr-Rs span  { 
    float: right; 
    color: #1a1a1a; 
    font-size: 12px; 
    text-align: right; 
    height: 35px; 
    line-height: 35px; 
    font-weight: bold;
} 

.pr-Rs span:before  { 
    float: left; 
    content: " "; 
    background: url(../images/img-sprite.png); 
    width: 11px; 
    height: 15px; 
    background-position: -63px -50px; 
    margin-top: 13px;
} 

.pr-dl { 
    width: 50%; 
    padding-left: 4%; 
    float: left; 
    color: #1a1a1a; 
    font-size: 13px; 
    line-height: 1.6em; 
    padding-top: 8px; 
    padding-bottom: 8px;
} 

.pr-dr-Rs { 
    width: 46%; 
    padding-right: 1%; 
    float: left;
} 

label { 
    display:  inline-block; 
    margin:  0; 
    padding:  0;
    border:  0 none; 
    outline:  0 none; 
    font-family:   'Open Sans', sans-serif;
    font-weight:  700; 
    margin-bottom:  5px; 
    max-width:  100%;
} 

.ctr_cbox { 
    display: inline-block; 
    position: relative; 
    padding-left: 30px; 
    margin-bottom: 2px; 
    cursor: pointer; 
    font-size: 18px; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
} 

.fli-d-m { 
    width: 100%; 
    float: left; 
    margin-top: 10px;
} 

.tr-cn-m { 
    width:  100%; 
    float:  left; 
    border:  1px solid #dad6d6; 
    margin-bottom:  0px; 
    padding:  0% 2% 1% 2% !important;
    border-radius:  4px; 
    margin-top:  12px; 
    box-shadow:  0 0 3px rgba(0,0,0,.2); 
    -webkit-box-shadow:  0 0 3px rgba(0,0,0,.2);
} 

.tr-cn { 
    width: 96%; 
    margin: 0 auto;
} 

.pr-r1_Rs span  { 
    float: right; 
    color: #d63b05; 
    font-size: 18px; 
    text-align: right; 
    height: 35px; 
    line-height: 35px; 
    font-weight: bold;
} 

.pr-r1_Rs span:before  { 
    float: left; 
    content: ""; 
    background: url(../images/img-sprite.png); 
    width: 11px; 
    height: 15px; 
    background-position: -78px -49px; 
    margin-top: 13px;
} 

img { 
    margin:  0; 
    padding:  0;
    border:  0 none; 
    outline:  0 none; 
    font-family:     'Open Sans', sans-serif;
    max-width:    100%;
    vertical-align:  middle;
} 

.cp_cross { 
    font-size: 20px!important; 
    width: 18px; 
    height: 18px; 
    display: inline-block; 
    font-weight: 400!important; 
    line-height: 15px; 
    text-align: center; 
    color: #989898!important; 
    vertical-align: middle;
} 

.coupn_radio { 
    display: block; 
    position: relative; 
    padding-left: 32px; 
    cursor: pointer; 
    font-size: 18px; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
} 

.fli1 { 
    width: 20%; 
    float: left;
} 

.fli1-m { 
    width: 100%; 
    float: left; 
    margin-top: 10px;
} 

.pr-dr-Rs span  { 
    float: right; 
    color: #1a1a1a; 
    font-size: 13px; 
    height: 40px; 
    line-height: 40px; 
    text-align: right; 
    font-weight: bold;
} 

.pr-dr-Rs span:before  { 
    float: left; 
    content: " "; 
    background: url(../images/img-sprite.png); 
    width: 11px; 
    height: 15px; 
    background-position: -63px -50px; 
    margin-top: 13px;
} 

.htlpricecol { 
    font-size: 13px; 
    font-weight: 400; 
    color: #000; 
    line-height: 19px; 
    display: block;
} 

input[type="checkbox"] { 
    box-sizing:  border-box; 
    padding:  0;
    line-height: normal; 
    margin: 4px 0 0;
} 

.ctr_cbox input  { 
    position: absolute; 
    opacity: 0; 
    cursor: pointer; 
    height: 0; 
    width: 0;
} 

.cmark_cbox { 
    position:  absolute; 
    top:  0; 
    left:  0; 
    height:  21px; 
    width:  21px; 
    border-radius:  3px; 
    border:  1px solid #bfbfbf; 
    background: #fff;
} 

.cmark_cbox:after { 
    content: ""; 
    position: absolute; 
    display: none;
} 

.ctr_cbox .cmark_cbox:after  { 
    left: 7px; 
    top: 2px; 
    width: 6px; 
    height: 12px; 
    border: solid white; 
    border-width: 0 2px 2px 0; 
    -webkit-transform: rotate(45deg); 
    -ms-transform: rotate(45deg); 
    transform: rotate(45deg);
} 

.ctr_cbox:hover input ~ .cmark_cbox  { 
    background-color: #ccc;
} 

.coupn_ttl { 
    font-size: 14px; 
    margin: 0; 
    font-weight: 600; 
    text-transform: uppercase;
} 

.coupn_para { 
    line-height: 16px; 
    margin: 0; 
    font-weight: normal; 
    font-size: 11px; 
    color: #4a4a4a;
} 

input[type="radio"] { 
    box-sizing:  border-box; 
    padding:  0;
    line-height: normal; 
    margin: 4px 0 0;
} 

.coupn_radio input  { 
    position: absolute; 
    opacity: 0; 
    cursor: pointer; 
    top: 15px;
} 

.coupn_checkmark { 
    position: absolute; 
    top: 3px; 
    left: 3px; 
    height: 20px; 
    width: 20px; 
    border-radius: 50%; 
    background-color: #fff; 
    border: 1px solid #d5d5d5;
} 

.coupn_radio input:checked ~ .coupn_checkmark  { 
    background-color: #2196F3; 
    border: 1px solid #2196F3;
} 

.coupn_checkmark:after { 
    content: ""; 
    position: absolute; 
    display: none;
} 

.coupn_radio .coupn_checkmark:after  { 
    left: 6px; 
    top: 3px; 
    width: 6px; 
    height: 10px; 
    border: solid white; 
    border-width: 0 2px 2px 0; 
    -webkit-transform: rotate( 45deg ); 
    -ms-transform: rotate(45deg); 
    transform: rotate( 45deg );
} 

.coupn_radio input:checked ~ .coupn_checkmark:after  { 
    display: block;
} 

.coupn_radio:hover input ~ .coupn_checkmark  { 
    background-color: #ccc;
} 

.fli1-m-l { 
    width: 20%; 
    float: left;
} 

.fli1-m-r { 
    float: left; 
    margin-left: 10%; 
    width: 63%;
} 

a { 
    margin:  0; 
    padding:  0;
    border:  0 none; 
    outline:  0 none; 
    font-family:    'Open Sans', sans-serif;
    background-color:   transparent;
    color:  #337ab7; 
    text-decoration:  none;
} 

.tcnd { 
    color: #2196f3; 
    font-size: 9px; 
    font-weight: 500; 
    text-decoration: underline; 
    padding-left: 2px; 
    float: left;
} 

a:active,a:hover { 
    outline: 0 none;
} 


