.emt_main_wrapper {
  display: flex;
  width: 100%;
  background-image: linear-gradient(90deg, #537dde, #89c6e9);
  color: white;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  height: 200px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  .left {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 40%;
    justify-content: space-between;
    .header_text {
      display: flex;
      font-size: 24px;
      font-weight: 600;
    }
    .buynow_text {
      display: flex;
      text-align: left;
      font-size: 14px;
      flex-direction: column;
      .paylater{
        font-size: 18px;
        font-weight: 700;
      }
      span{
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
  .right {
    display: flex;
    width: 46%;
    height: 70%;
    justify-content: center;
    align-items: center;
    .inputField {
      width: 400px;
      position: relative;
      input {
        width: 100%;
        height: 43px;
        border: none;
        outline: none;
        /* position: relative; */
        padding: 22px;
        color: black;
        border-radius: 8px;
      }
      button {
        position: absolute;
        z-index: 100;
        top: 7px;
        height: 30px;
        border-radius: 5px;
        border: none;
        outline: none;
        background: #ef6614;
        width: 169px;
        right: 5px;
      }
    }
    .money_available {
      width: 270px;
      background: white;
      height: 100px;
      border-radius: 8px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      /* font-size: 14px;*/
      .big_txt_money {
        font-size: 18px;
        font-weight: 800;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        .approve_text{
          font-size: 12px;
         font-weight: 600;
         display: flex;
        }
      }
      .small_txt {
        font-size: 12px;
        color: black;
      }
    }
  }
}
